<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">
<nav th:replace="fragments :: navigation"></nav>
<pic th:replace="fragments :: picture"></pic>

<h1 th:text="${title}">Default Title</h1>
<p th:unless="${ministries} and ${ministries.size()}">no ministries :(</p>


<table class="table">

    <tr>
        <th>Ministry</th>
    </tr>

    <tr th:each="ministry : ${ministries}">
        <td><a th:href="@{/volunteer/ministry(id=${ministry.id})}" th:text="${ministry.name}"></a></td>
    </tr>

</table>

<a href="/ministry/add">Add Ministry</a>

</body>
</html>