<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">
<nav th:replace="fragments :: navigation"></nav>
<pic th:replace="fragments :: picture"></pic>

<h1 th:text="${title}">Default Title</h1>



<form method="post" th:object="${volunteer}">

    <div th:each="volunteer : ${volunteers}" class="checkbox">
        <input type="checkbox" name="ids" th:value="${volunteer.id}" th:id="${volunteer.id}"/>
        <label th:for="${volunteer.id}" th:text="${volunteer.name}"></label>
        <br />
    </div>

    <input type="submit" value="Remove Volunteer" />
</form>

</body>
</html>