<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>

    <body class="container">

        <h1 th:text="${title}">Default Title</h1>

        <nav th:replace="fragments :: navigation"></nav>

        <p th:unless="${masses} and ${masses.size()}">no masses :(</p>
<div>
    <table class="table">
        <tr>
            <th>Masses Available</th>
        </tr>
    </table>
    <ul>
        <li th:each="mass : ${masses}">
            <a th:href="'/mass/view/' + ${mass.id}" th:text="${mass.name}"></a>
        </li>
    </ul>
</div>

        <a href="/mass/add">Add Mass</a>
    </body>
</html>