<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>

    <body class="container">
    <nav th:replace="fragments :: navigation"></nav>
    <pic th:replace="fragments :: picture"></pic>

    <h1 th:text="${title}">Default Title</h1>

        <ul >
            <li th:each="volunteer : ${volunteers}" th:text="${volunteer.name}+' '+${volunteer.lastName}+' | '+${volunteer.ministry.name}"></li>
        </ul>
        <p th:unless="${volunteers.size()}"><i>No volunteers yet</i></p>

        <p><a th:href="'/mass/add-volunteer/'+${massId}">Add Volunteer</a></p>

    </body>
</html>